<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-wrap">

    <h2>로그인</h2>

    <!-- 로그인 실패 메시지 (Flash Attribute) -->
    <div th:if="${error}" class="error-msg" th:text="${error}"></div>

    <!-- action: /login POST 요청 -->
    <form th:action="@{/auth/login}" method="post">

        <input type="email"
               name="email"
               placeholder="이메일"
               value="abcd@naver.com"
               required>

        <input type="password"
               name="password"
               placeholder="비밀번호"
               value="1234"
               required>

        <button type="submit">로그인</button>
        <!-- redirectURL을 hidden으로 폼에 포함 -->
        <label>히든</label>
        <input type="text"
               name="redirectURL"
               th:value="${param.redirectURL}">

    </form>

    <div class="signup-link">
        계정이 없으신가요? <a th:href="@{/auth/signup}">회원가입</a>
    </div>

</div>

</body>
</html>
